


CLOUDINARY_CLOUD_NAME=xxxxx
CLOUDINARY_API_KEY=xxxx
CLOUDINARY_API_SECRET=xxxxxx


OPENROUTER_API_KEY=xxxxxxxx


LANGCHAIN_TRACING_V2=xxxxxx
LANGCHAIN_API_KEY=xxxxxxxxx
LANGCHAIN_PROJECT=xxxxxxxxxxx